@model Shopping_Cart.Models.ShoppingCart

@{
    ViewBag.Title = "Delete";
}

<div class="grow">
    <div class="container">
        <h2>Delete Your Cart Item</h2>
    </div>
</div>
<hr />


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
        </div>
    }
</div>
<br />
<hr />
<div>
    @Html.ActionLink("Return to Cart", "Index", "ShoppingCarts", new { @class = "btn btn-default" })
</div>
