@model Shopping_Cart.Models.Item

@{
    ViewBag.Title = "Details";
}

<div class="grow">
    <div class="container">
        <h2>Item Detail</h2>
    </div>
</div>

<hr />

<div style="">
    <img src="@Url.Content(Model.MediaUrl)" style="" />
</div>

<hr />
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>

            @*@Html.DisplayFor(model => model.Description)*@
            <!--Trying to fix Tiny MCE XML Text Editor-->

            @Html.Raw(Model.Description)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("Create", "ShoppingCarts", new { Itemid = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input class="button item_add btn-info" style="border-radius: 5px; padding: 5px" type="submit" value="Add to Cart" />
}

<hr />

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Go Back", "Index")
</p>
