@model IEnumerable<Shopping_Cart.Models.Item>

@{
    ViewBag.Title = "Item Index";
}

<div class="grow">
    <div class="container">
        <h2>Items Index</h2>
    </div>
</div>

<hr />

<p>
    @Html.ActionLink("Create New Item", "Create", "Items", null, htmlAttributes: new { @class = "btn btn-success btn-block" })
</p>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaUrl)
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            <div class="btn-group-vertical btn-group-sm">
            @Html.ActionLink("Edit", "Edit", "Items", new { id = item.Id }, new {  @class= "btn btn-warning" }) 
          
            @Html.ActionLink("Delete", "Delete", "Items", new { id = item.Id }, new { @class = "btn btn-danger" })
            </div>

        </td>
    </tr>
}

</table>

<hr />

<div class="col-sm-offset-4 col-sm-4">
    <div class="btn-group btn-group-sm btn-group-justified">
        @Html.ActionLink("Administration Menu", "Admin", "Home", null, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Create an Item", "Create", "Items", null, htmlAttributes: new { @class = "btn btn-success btn-block" })
    </div>
</div>
